@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p>
        Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
        Come browse our products and see what we have for you.
    </p>
    
    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse Our Selection</h2>
        <p>
            Feel free to take a look at our products! We offer a wide variety of products for the public to purchase.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Create an Account</h2>
        <p>Create an account with us to utilize our Transaction feature, purchasing our products has never been easier!</p>
        @Html.ActionLink("Become a Customer", "Create", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>View Transactions   <b>COMING SOON</b></h2>
        <p>
            Log into your account to view previous Transactions you've made at our beautiful store!
        </p>
        @Html.ActionLink("View Transactions", "Details", "Transactions", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>